@font-face {
  font-family: 'plus_jakarta_sansbold';

  src: url('../fonts/plusjakartasans-bold-webfont.woff2') format('woff2'), url('../fonts/plusjakartasans-bold-webfont.woff') format('woff'), url('../fonts/plusjakartasans-bold-webfont.ttf') format('truetype'), url('../fonts/plusjakartasans-bold-webfont.svg#plus_jakarta_sansbold') format('svg');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: 'plus_jakarta_sansextrabold';

  src: url('../fonts/plusjakartasans-extrabold-webfont.woff2') format('woff2'), url('../fonts/plusjakartasans-extrabold-webfont.woff') format('woff'), url('../fonts/plusjakartasans-extrabold-webfont.ttf') format('truetype'), url('../fonts/plusjakartasans-extrabold-webfont.svg#plus_jakarta_sansextrabold') format('svg');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: 'plus_jakarta_sansmedium';

  src: url('../fonts/plusjakartasans-medium-webfont.woff2') format('woff2'), url('../fonts/plusjakartasans-medium-webfont.woff') format('woff'), url('../fonts/plusjakartasans-medium-webfont.ttf') format('truetype'), url('../fonts/plusjakartasans-medium-webfont.svg#plus_jakarta_sansmedium') format('svg');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: 'plus_jakarta_sansregular';

  src: url('../fonts/plusjakartasans-regular-webfont.woff2') format('woff2'), url('../fonts/plusjakartasans-regular-webfont.woff') format('woff'), url('../fonts/plusjakartasans-regular-webfont.ttf') format('truetype'), url('../fonts/plusjakartasans-regular-webfont.svg#plus_jakarta_sansregular') format('svg');

  font-weight: normal;

  font-style: normal;
}

/*! tailwindcss v2.2.19 | MIT License | https://tailwindcss.com */

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 1 */
  line-height: 1.5;
  /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */

:-moz-focusring {
  outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.pointer-events-auto {
  pointer-events: auto;
}

.invisible {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.top-\[-4px\] {
  top: -4px;
}

.right-4 {
  right: 1rem;
}

.top-4 {
  top: 1rem;
}

.right-7 {
  right: 1.75rem;
}

.bottom-7 {
  bottom: 1.75rem;
}

.left-auto {
  left: auto;
}

.top-auto {
  top: auto;
}

.right-\[74px\] {
  right: 74px;
}

.bottom-\[-80px\] {
  bottom: -80px;
}

.bottom-0 {
  bottom: 0px;
}

.right-0 {
  right: 0px;
}

.top-\[0\] {
  top: 0;
}

.z-20 {
  z-index: 20;
}

.z-50 {
  z-index: 50;
}

.z-10 {
  z-index: 10;
}

.col-span-full {
  grid-column: 1 / -1;
}

.my-\[3px\] {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-2\.5 {
  margin-right: 0.625rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-\[32px\] {
  margin-bottom: 32px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mr-\[19px\] {
  margin-right: 19px;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-1\.5 {
  margin-right: 0.375rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-24 {
  margin-bottom: 6rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-\[25px\] {
  margin-top: 25px;
}

.mb-\[40px\] {
  margin-bottom: 40px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.ml-\[10px\] {
  margin-left: 10px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mb-\[60px\] {
  margin-bottom: 60px;
}

.mb-\[15px\] {
  margin-bottom: 15px;
}

.mb-\[25px\] {
  margin-bottom: 25px;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mt-\[65px\] {
  margin-top: 65px;
}

.mr-\[24px\] {
  margin-right: 24px;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mt-\[-258px\] {
  margin-top: -258px;
}

.mb-\[50px\] {
  margin-bottom: 50px;
}

.mb-\[35px\] {
  margin-bottom: 35px;
}

.mb-\[8px\] {
  margin-bottom: 8px;
}

.mr-0 {
  margin-right: 0px;
}

.mt-\[45px\] {
  margin-top: 45px;
}

.mr-\[10px\] {
  margin-right: 10px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.h-0\.5 {
  height: 0.125rem;
}

.h-0 {
  height: 0px;
}

.h-4 {
  height: 1rem;
}

.h-\[56px\] {
  height: 56px;
}

.h-\[156px\] {
  height: 156px;
}

.h-1 {
  height: 0.25rem;
}

.h-5 {
  height: 1.25rem;
}

.h-\[1px\] {
  height: 1px;
}

.h-12 {
  height: 3rem;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[54px\] {
  height: 54px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[320px\] {
  height: 320px;
}

.h-\[40px\] {
  height: 40px;
}

.w-4 {
  width: 1rem;
}

.w-full {
  width: 100%;
}

.w-80 {
  width: 20rem;
}

.w-\[32\] {
  width: 32;
}

.w-7 {
  width: 1.75rem;
}

.w-12 {
  width: 3rem;
}

.w-\[90\%\] {
  width: 90%;
}

.w-\[70px\] {
  width: 70px;
}

.w-\[54px\] {
  width: 54px;
}

.w-\[25px\] {
  width: 25px;
}

.w-\[35px\] {
  width: 35px;
}

.max-w-\[85\%\] {
  max-width: 85%;
}

.max-w-full {
  max-width: 100%;
}

.max-w-none {
  max-width: none;
}

.max-w-3xl {
  max-width: 48rem;
}

.max-w-\[590px\] {
  max-width: 590px;
}

.max-w-\[810px\] {
  max-width: 810px;
}

.max-w-\[485px\] {
  max-width: 485px;
}

.origin-center {
  transform-origin: center;
}

.origin-left {
  transform-origin: left;
}

.origin-right {
  transform-origin: right;
}

.translate-y-\[90px\] {
  --tw-translate-y: 90px;
  transform: var(--tw-transform);
}

.translate-x-\[7px\] {
  --tw-translate-x: 7px;
  transform: var(--tw-transform);
}

.translate-y-\[7px\] {
  --tw-translate-y: 7px;
  transform: var(--tw-transform);
}

.translate-x-\[-110\%\] {
  --tw-translate-x: -110%;
  transform: var(--tw-transform);
}

.scale-0 {
  --tw-scale-x: 0;
  --tw-scale-y: 0;
  transform: var(--tw-transform);
}

.scale-x-0 {
  --tw-scale-x: 0;
  transform: var(--tw-transform);
}

.scale-x-100 {
  --tw-scale-x: 1;
  transform: var(--tw-transform);
}

.transform {
  transform: var(--tw-transform);
}

.cursor-pointer {
  cursor: pointer;
}

.list-inside {
  list-style-position: inside;
}

.list-disc {
  list-style-type: disc;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-items-center {
  justify-items: center;
}

.gap-\[50px\] {
  gap: 50px;
}

.gap-x-\[100px\] {
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.gap-y-\[30px\] {
  row-gap: 30px;
}

.gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.gap-y-3 {
  row-gap: 0.75rem;
}

.gap-x-8 {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.gap-x-\[90px\] {
  -moz-column-gap: 90px;
       column-gap: 90px;
}

.gap-y-\[50px\] {
  row-gap: 50px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.break-words {
  overflow-wrap: break-word;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-gray-extraWhite {
  border-color: rgba(255,255,255,0.3);
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.bg-\[\#f2f6f7\] {
  --tw-bg-opacity: 1;
  background-color: rgba(242, 246, 247, var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.bg-gray-extraWhite {
  background-color: rgba(255,255,255,0.3);
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-input-email {
  background-image: url('../../assets/images/input_mail.svg');
}

.bg-input-budget {
  background-image: url('../../assets/images/input_budget.svg');
}

.from-violet {
  --tw-gradient-from: #b16cea;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(177, 108, 234, 0));
}

.from-\[\#b16cea\] {
  --tw-gradient-from: #b16cea;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(177, 108, 234, 0));
}

.via-red {
  --tw-gradient-stops: var(--tw-gradient-from), #ff5e69, var(--tw-gradient-to, rgba(255, 94, 105, 0));
}

.to-yellow {
  --tw-gradient-to: #ffa84b;
}

.to-\[\#ffa84b\] {
  --tw-gradient-to: #ffa84b;
}

.bg-18 {
  background-size: 18px;
}

.bg-clip-padding {
  background-clip: padding-box;
}

.bg-input-left-center {
  background-position: 4% center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.fill-current {
  fill: currentColor;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-2\.5 {
  padding: 0.625rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-\[32px\] {
  padding: 32px;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pl-\[53px\] {
  padding-left: 53px;
}

.pt-24 {
  padding-top: 6rem;
}

.pb-32 {
  padding-bottom: 8rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-\[75\%\] {
  padding-bottom: 75%;
}

.pl-\[13px\] {
  padding-left: 13px;
}

.pb-\[80px\] {
  padding-bottom: 80px;
}

.pt-\[220px\] {
  padding-top: 220px;
}

.pt-\[100px\] {
  padding-top: 100px;
}

.pb-\[60px\] {
  padding-bottom: 60px;
}

.pb-\[40px\] {
  padding-bottom: 40px;
}

.pt-\[50px\] {
  padding-top: 50px;
}

.pt-\[32px\] {
  padding-top: 32px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-400 {
  font-family: plus_jakarta_sansregular;
}

.font-900 {
  font-family: plus_jakarta_sansextrabold;
}

.font-700 {
  font-family: plus_jakarta_sansbold;
}

.font-500 {
  font-family: plus_jakarta_sansmedium;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-26 {
  font-size: 26px;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-\[37px\] {
  font-size: 37px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[36px\] {
  font-size: 36px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[21px\] {
  font-size: 21px;
}

.text-\[27px\] {
  font-size: 27px;
}

.text-\[15px\] {
  font-size: 15px;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.leading-\[50px\] {
  line-height: 50px;
}

.leading-\[28px\] {
  line-height: 28px;
}

.leading-\[36px\] {
  line-height: 36px;
}

.leading-\[100\%\] {
  line-height: 100%;
}

.leading-none {
  line-height: 1;
}

.\!leading-7 {
  line-height: 1.75rem !important;
}

.leading-\[150\%\] {
  line-height: 150%;
}

.leading-\[110\%\] {
  line-height: 110%;
}

.leading-\[130\%\] {
  line-height: 130%;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.tracking-wide4 {
  letter-spacing: 4px;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.text-red {
  --tw-text-opacity: 1;
  color: rgba(255, 94, 105, var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-gray-light {
  --tw-text-opacity: 1;
  color: rgba(102, 102, 102, var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgba(92, 92, 92, var(--tw-text-opacity));
}

.text-gray-white {
  color: rgba(255,255,255,0.7);
}

.opacity-0 {
  opacity: 0;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}

.shadow-menu {
  --tw-shadow: 12px 12px 50px 0 rgba(0, 0, 0, 0.2);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.delay-500 {
  transition-delay: 500ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.duration-700 {
  transition-duration: 700ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.clip-text {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #b16cea;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(177, 108, 234, 0));
  --tw-gradient-stops: var(--tw-gradient-from), #ff5e69, var(--tw-gradient-to, rgba(255, 94, 105, 0));
  --tw-gradient-to: #ffa84b;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1215px;
  max-width: 90%;
}

@media (min-width: 768px) {
  .container {
    max-width: 85%;
  }
}

.heading {
  font-family: plus_jakarta_sansextrabold;
  line-height: 110%;
  letter-spacing: -0.05em;
}

.menu-close {
  visibility: hidden;
  height: 0px;
  opacity: 0;
}

.menu-open {
  visibility: visible;
  height: 430px;
  opacity: 1;
}

.counters {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.counter {
  margin-right: 20%;
  display: flex;
  align-items: center;
  padding-right: 5%;
  --tw-shadow: 1px 0 0 0 rgba(243, 244, 246,0.2);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.counter-number {
  position: relative;
  top: 3px;
  font-family: plus_jakarta_sansextrabold;
  font-size: 60px;
  line-height: 60px;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.counter-name {
  margin-bottom: 2px;
  font-family: plus_jakarta_sansbold;
  font-size: 19px;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.counter-description {
  font-family: plus_jakarta_sansmedium;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
}

.swiper-slide-active .animated {
  --tw-scale-x: 0;
  transform: var(--tw-transform);
}

#testimonials .swiper-slide {
  opacity: 0 !important;
}

#testimonials .swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}

.shuffle-filter li.selected > a {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-text-opacity: 1 !important;
  color: rgba(255, 255, 255, var(--tw-text-opacity)) !important;
}

.blurred:invalid+span {
  visibility: visible;
  opacity: 1;
}

.after\:hidden::after {
  content: "";
  display: none;
}

.hover\:translate-x-\[7px\]:hover {
  --tw-translate-x: 7px;
  transform: var(--tw-transform);
}

.hover\:translate-y-\[7px\]:hover {
  --tw-translate-y: 7px;
  transform: var(--tw-transform);
}

.hover\:text-gray-light:hover {
  --tw-text-opacity: 1;
  color: rgba(102, 102, 102, var(--tw-text-opacity));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:hover .group-hover\:translate-x-2 {
  --tw-translate-x: 0.5rem;
  transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-\[7px\] {
  --tw-translate-x: 7px;
  transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-\[0\] {
  --tw-translate-x: 0;
  transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-x-\[5px\] {
  --tw-translate-x: 5px;
  transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-y-\[-5px\] {
  --tw-translate-y: -5px;
  transform: var(--tw-transform);
}

.group:hover .group-hover\:scale-105 {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: var(--tw-transform);
}

.group:hover .group-hover\:scale-x-100 {
  --tw-scale-x: 1;
  transform: var(--tw-transform);
}

.group:hover .group-hover\:scale-x-50 {
  --tw-scale-x: .5;
  transform: var(--tw-transform);
}

.group:hover .group-hover\:text-gray-light {
  --tw-text-opacity: 1;
  color: rgba(102, 102, 102, var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-75 {
  opacity: 0.75;
}

@media (min-width: 640px) {
  .sm\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .sm\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .sm\:mt-14 {
    margin-top: 3.5rem;
  }

  .sm\:mb-0 {
    margin-bottom: 0px;
  }

  .sm\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .sm\:ml-24 {
    margin-left: 6rem;
  }

  .sm\:mb-7 {
    margin-bottom: 1.75rem;
  }

  .sm\:mt-\[7px\] {
    margin-top: 7px;
  }

  .sm\:ml-\[40px\] {
    margin-left: 40px;
  }

  .sm\:mb-\[90px\] {
    margin-bottom: 90px;
  }

  .sm\:mt-\[42px\] {
    margin-top: 42px;
  }

  .sm\:mb-\[60px\] {
    margin-bottom: 60px;
  }

  .sm\:mr-\[60px\] {
    margin-right: 60px;
  }

  .sm\:ml-\[20px\] {
    margin-left: 20px;
  }

  .sm\:mt-0 {
    margin-top: 0px;
  }

  .sm\:mt-\[50px\] {
    margin-top: 50px;
  }

  .sm\:mb-\[33px\] {
    margin-bottom: 33px;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:h-\[450px\] {
    height: 450px;
  }

  .sm\:h-\[45px\] {
    height: 45px;
  }

  .sm\:w-\[60\%\] {
    width: 60%;
  }

  .sm\:w-3\/5 {
    width: 60%;
  }

  .sm\:w-\[90\%\] {
    width: 90%;
  }

  .sm\:w-\[45px\] {
    width: 45px;
  }

  .sm\:w-full {
    width: 100%;
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-end {
    align-items: flex-end;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:gap-x-24 {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }

  .sm\:gap-y-7 {
    row-gap: 1.75rem;
  }

  .sm\:gap-y-\[70px\] {
    row-gap: 70px;
  }

  .sm\:py-9 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .sm\:py-\[60px\] {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sm\:pb-20 {
    padding-bottom: 5rem;
  }

  .sm\:pt-28 {
    padding-top: 7rem;
  }

  .sm\:pb-\[80px\] {
    padding-bottom: 80px;
  }

  .sm\:pb-\[100px\] {
    padding-bottom: 100px;
  }

  .sm\:text-\[44px\] {
    font-size: 44px;
  }

  .sm\:text-\[20px\] {
    font-size: 20px;
  }

  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .sm\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .sm\:text-\[50px\] {
    font-size: 50px;
  }

  .sm\:text-\[40px\] {
    font-size: 40px;
  }

  .sm\:text-\[24px\] {
    font-size: 24px;
  }

  .sm\:text-\[30px\] {
    font-size: 30px;
  }

  .sm\:text-\[16px\] {
    font-size: 16px;
  }

  .sm\:leading-\[60px\] {
    line-height: 60px;
  }

  .sm\:leading-\[32px\] {
    line-height: 32px;
  }

  .sm\:\!leading-8 {
    line-height: 2rem !important;
  }
}

@media (min-width: 768px) {
  .md\:mt-6 {
    margin-top: 1.5rem;
  }

  .md\:ml-36 {
    margin-left: 9rem;
  }

  .md\:mb-20 {
    margin-bottom: 5rem;
  }

  .md\:mb-36 {
    margin-bottom: 9rem;
  }

  .md\:mb-\[20px\] {
    margin-bottom: 20px;
  }

  .md\:mb-\[80px\] {
    margin-bottom: 80px;
  }

  .md\:mr-\[20px\] {
    margin-right: 20px;
  }

  .md\:h-\[50px\] {
    height: 50px;
  }

  .md\:w-\[85\%\] {
    width: 85%;
  }

  .md\:w-\[70\%\] {
    width: 70%;
  }

  .md\:max-w-\[85\%\] {
    max-width: 85%;
  }

  .md\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .md\:text-\[56px\] {
    font-size: 56px;
  }

  .md\:text-54 {
    font-size: 54px;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:text-\[67px\] {
    font-size: 67px;
  }

  .md\:text-\[22px\] {
    font-size: 22px;
  }

  .md\:text-\[54px\] {
    font-size: 54px;
  }

  .md\:text-\[36px\] {
    font-size: 36px;
  }

  .md\:text-\[24px\] {
    font-size: 24px;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }

  .md\:text-\[17px\] {
    font-size: 17px;
  }

  .md\:leading-\[72px\] {
    line-height: 72px;
  }

  .md\:leading-none {
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  .lg\:visible {
    visibility: visible;
  }

  .lg\:static {
    position: static;
  }

  .lg\:mx-\[25px\] {
    margin-left: 25px;
    margin-right: 25px;
  }

  .lg\:mr-5 {
    margin-right: 1.25rem;
  }

  .lg\:mt-20 {
    margin-top: 5rem;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:ml-16 {
    margin-left: 4rem;
  }

  .lg\:mb-\[110px\] {
    margin-bottom: 110px;
  }

  .lg\:mb-\[80px\] {
    margin-bottom: 80px;
  }

  .lg\:mt-\[115px\] {
    margin-top: 115px;
  }

  .lg\:mb-\[70px\] {
    margin-bottom: 70px;
  }

  .lg\:inline-block {
    display: inline-block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-auto {
    height: auto;
  }

  .lg\:w-auto {
    width: auto;
  }

  .lg\:w-5\/12 {
    width: 41.666667%;
  }

  .lg\:w-\[60\%\] {
    width: 60%;
  }

  .lg\:w-\[40\%\] {
    width: 40%;
  }

  .lg\:w-\[37\%\] {
    width: 37%;
  }

  .lg\:w-\[48\%\] {
    width: 48%;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:max-w-sm {
    max-width: 24rem;
  }

  .lg\:max-w-none {
    max-width: none;
  }

  .lg\:max-w-\[85\%\] {
    max-width: 85%;
  }

  .lg\:translate-y-0 {
    --tw-translate-y: 0px;
    transform: var(--tw-transform);
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-end {
    align-items: flex-end;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-items-start {
    justify-items: start;
  }

  .lg\:gap-y-0 {
    row-gap: 0px;
  }

  .lg\:p-0 {
    padding: 0px;
  }

  .lg\:p-2\.5 {
    padding: 0.625rem;
  }

  .lg\:p-2 {
    padding: 0.5rem;
  }

  .lg\:py-\[80px\] {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .lg\:opacity-100 {
    opacity: 1;
  }
}

@media (min-width: 1280px) {
  .xl\:ml-24 {
    margin-left: 6rem;
  }

  .xl\:mr-12 {
    margin-right: 3rem;
  }

  .xl\:text-\[75px\] {
    font-size: 75px;
  }
}