@font-face {
    font-family: 'plus_jakarta_sansbold';
    src: url('../fonts/plusjakartasans-bold-webfont.woff2') format('woff2'), url('../fonts/plusjakartasans-bold-webfont.woff') format('woff'), url('../fonts/plusjakartasans-bold-webfont.ttf') format('truetype'), url('../fonts/plusjakartasans-bold-webfont.svg#plus_jakarta_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plus_jakarta_sansextrabold';
    src: url('../fonts/plusjakartasans-extrabold-webfont.woff2') format('woff2'), url('../fonts/plusjakartasans-extrabold-webfont.woff') format('woff'), url('../fonts/plusjakartasans-extrabold-webfont.ttf') format('truetype'), url('../fonts/plusjakartasans-extrabold-webfont.svg#plus_jakarta_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plus_jakarta_sansmedium';
    src: url('../fonts/plusjakartasans-medium-webfont.woff2') format('woff2'), url('../fonts/plusjakartasans-medium-webfont.woff') format('woff'), url('../fonts/plusjakartasans-medium-webfont.ttf') format('truetype'), url('../fonts/plusjakartasans-medium-webfont.svg#plus_jakarta_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plus_jakarta_sansregular';
    src: url('../fonts/plusjakartasans-regular-webfont.woff2') format('woff2'), url('../fonts/plusjakartasans-regular-webfont.woff') format('woff'), url('../fonts/plusjakartasans-regular-webfont.ttf') format('truetype'), url('../fonts/plusjakartasans-regular-webfont.svg#plus_jakarta_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    @apply antialiased;
}
 
html {
    scroll-behavior: smooth;
}

.clip-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-violet via-red to-yellow;
}

.container {
    @apply w-[1215px] mx-auto max-w-[90%] md:max-w-[85%];
}

.heading {
    @apply font-900 tracking-tighter leading-[110%];
}

.menu-close {
    @apply invisible opacity-0 h-0;
}

.menu-open {
    @apply visible opacity-100 h-[430px];
}

.counters {
    @apply grid grid-cols-3;
}

.counter {
    @apply flex items-center pr-[5%] mr-[20%] shadow-line;
}

.counter-number {
    @apply text-[60px] font-900 leading-[60px] relative top-[3px] text-white;
}

.counter-name {
    @apply text-[19px] mb-[2px] font-700 text-white;
}

.counter-description {
    @apply text-[14px] font-500 text-gray-white;
}

.swiper-slide-active .animated {
    @apply scale-x-0;  
}

#testimonials .swiper-slide {
    @apply !opacity-0;
}

#testimonials .swiper-slide.swiper-slide-active {
    @apply !opacity-100;
}
 
.shuffle-filter li.selected > a {
    @apply bg-black !text-white;
}

.blurred:invalid+span{
    @apply visible opacity-100;
}